/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* code starts here */

/* General Resets */

body, #wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: times, georgia, serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

a, span {
  display: inline-block;
}

span {
  vertical-align: top;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

.clearfix {
  clear: both;
}

/* Searchbox */
#home_search_cage {
  position: absolute;
  bottom: -50px;
  right: 0;
}

#home_search_input,
#page_search_cage input {
  font-family: helvetica neue, arial, sans-serif;
  width: 130px;
  border: 1px solid #232323;
  outline: none;
  color: #262626;
  background: url(../images/icon-glass.png) no-repeat rgba(255,255,255,0.9);
  background-position: 5px 5px;
  font-size: 12px;
  font-weight: 200;
  padding: 5px 10px 5px 25px;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.4);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: width 0.1s;
  -moz-transition: width 0.1s;
  -o-transition: width 0.1s;
  transition: width 0.1s;
}

#home_search_input:focus,
#page_search_cage input:focus {
  width: 200px;
  background-color: #fff;
}

/* Home slider */
#home_slider {
  position: relative;
  height: 500px;
  width: 100%;
  max-width: 1290px;
  overflow: hidden;
  margin: 0 auto 20px;
}

#home_slider,
#home_slider .slides_container,
#home_slider .slide {
  display: block;
  width: 100% !important;
  height: 500px;
}

img.slide_image {
  position: absolute;
  z-index: 0;
}

#home_slider .slides_container {
  position: absolute;
  top: 0;
}

#home_slider .caption {
  width: 940px;
  position: absolute;
  padding-top: 80px;
  padding-left: 100px;
  z-index: 999;
}

#home_slider .caption.black h1 {
  color: #003B76;
  text-shadow: 0 1px #fff;
}

#home_slider .caption.black p  {
  color: #fff;
}

#home_slider .caption h1 {
  font-family: times, times new roman, serif;
  color: #fff;
  text-shadow: 0 1px #03151E;
  opacity: 0.9;
  line-height: 1.2em;
  padding-top: 5px;
  font-size: 42px;
}

#home_slider .caption p {
  color: #fcfcfc;
  text-shadow: 0 1px #03151E;
  opacity: 0.9;
  font-size: 21px;
}

ul.home_slider_pagination {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul.home_slider_pagination li {
  display: inline-block;
  cursor: pointer;
}

ul.home_slider_pagination li a img {
  width: 68px;
  -webkit-transition: width 0.1s;
  -moz-transition: width 0.1s;
  -o-transition: width 0.1s;
  transition: width 0.1s;
}

ul.home_slider_pagination li.current a img,
ul.home_slider_pagination li:hover a img {
  width: 75px;
}

/* Header */

header {
  position: fixed;
  font-family: helvetica neue, arial, sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  background: url(/assets/images/bg-white.png);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.6);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.6);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.6);
}

header .container {
 text-align: right;
 position: relative;
}

.logo {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -48px;
}

.logo img {
  display: block;
}

nav {
  display: inline-block;
  padding-top: 38px;
}

#investor_login_link {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  background: url(../images/login-button.png);
  width: 166px;
  height: 24px;
  text-align: center;
  padding-top: 6px;
}

span.header_link, span.header_link > a {
  font-size: 12px;
  text-decoration: none;
  padding-bottom: 6px;
  padding-right: 10px;
  color: #003b76;
  position: relative;
  cursor: pointer;
}

span.header_link > a:hover {
  color: #222;
}

.dropmenu {
  position: absolute;
  padding: 3px 0;
  top: 18px;
  left: 0;
  background: #fff;
  text-align: left;
  display: none;
  z-index: 99999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 #868686;
  -moz-box-shadow: 0 1px 4px 0 #868686;
  box-shadow: 0 1px 4px 0 #868686;
}

span.header_link:hover .dropmenu {
  display: block;
}

.dropmenu a {
  display: block;
  width: 120px;
  padding: 4px 10px;
  text-decoration: none;
  color: #666;
}

.dropmenu a:hover {
  background: skyblue;
  color: #fff;
}

/* main */

.intro_cage {
  width: 940px;
  margin: 0 auto;
  background: url(../images/bg-intro-cage.png) no-repeat;
  text-align: center;
}

.info_cage {
  width: 276px;
  height: 476px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 25px 12px;
}

.info_cage img {
  width: 276px;
  height: 150px;
}

.info_cage h2, .legal_wrapper h2 {
  font-size: 18px;
  font-family: times, times new roman, serif;
  color: #003B76;
  margin: 10px 0;
}

.info_cage p, .legal_wrapper p {
  font-size: 12px;
  line-height: 1.3em;
  text-align: justify;
  color: #31363A;
}

.info_cage a {
  color: #7DB3D2;
  text-decoration: none;
}

/* footer */

footer {
  text-align: center;
  background: url(../images/footer-line.png) no-repeat top center;
  padding: 25px 0 15px;
  text-decoration: none;
  color: #c7c7c7;
  font-size: 11px;
}

footer a {
  text-decoration: none;
  color: #c7c7c7;
  font-size: 12px;
}

footer a:hover {
  text-decoration: underline;
}

/* Page */

body.page {
  background: url(/assets/images/bg-body.png);
}

#page_banner {
  width: 100%;
  height: 175px;
  padding-top: 85px;
  position: relative;
  overflow: hidden;
}

#page_banner img {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#page_search_cage {
  float: right;
  position: relative;
  z-index: 1;
}

.container.page_content {
  margin-top: -36px;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 6px 6px 6px 0;
  -moz-border-radius: 6px 6px 6px 0;
  border-radius: 6px 6px 6px 0;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
}

.page_header {
  color: #fff;
  padding: 8px 15px;
  font-size: 13px;
  text-shadow: 0 -1px #183550;
  border: 1px solid #333;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  background: #064684; /* Old browsers */
  background: -moz-linear-gradient(top,  #064684 34%, #0a2e50 62%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,#064684), color-stop(62%,#0a2e50)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #064684 34%,#0a2e50 62%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #064684 34%,#0a2e50 62%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #064684 34%,#0a2e50 62%); /* IE10+ */
  background: linear-gradient(to bottom,  #064684 34%,#0a2e50 62%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064684', endColorstr='#0a2e50',GradientType=0 ); /* IE6-9 */
  
}

.page_body {
  padding-bottom: 35px;
  background: #fff;
  border: 1px solid #999;
  border-top: none;
  -webkit-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

aside#left_sidebar, article {
  float: left;
}

aside#left_sidebar {
  width: 20%;
  position: relative;
}

.sidebar_links {
  float: left;
  padding: 15px;
}

#left_sidebar .sidebar_border {
  width: 1px;
  height: 400px;
  background: #000;
  float: right;
  position: absolute;
  right: 0;
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #cccccc 0%, #ffffff 77%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(77%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cccccc 0%,#ffffff 77%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cccccc 0%,#ffffff 77%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cccccc 0%,#ffffff 77%); /* IE10+ */
  background: linear-gradient(to bottom,  #cccccc 0%,#ffffff 77%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  
}

#right_sidebar {
  width: 20%;
  background: url(/assets/images/sidebar-gradient.png) repeat-x left bottom #155D9F;
  padding-bottom: 115px;
  min-height: 700px;
}

article {
  width: 60%;
}

table {
  width: 100%;
  font-size: 13px;
  margin: 15px 0;
}

table.team_list {
  font-size: 12px;
  font-family: times, georgia, serif;
}

table.team_list th {
  padding-top: 4px;
  padding-bottom: 4px;
}

table.team_list td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 15px;
}

table.team_list a img {
  display: none;
}

table.team_list a:hover img {
  display: block;
}

.label_row {
  background-color: #000;
  color: #fff;
  text-align: left;
}

.odd {
  background-color: #f2f2f2;
}

#right_sidebar {
  float: right;
}

#left_sidebar a {
  display: block;
  font-family: times, georgia, serif;
  text-decoration: none;
  color: #666;
  font-size: 16px;
  margin-bottom: 8px;
  width: 155px;
}

#left_sidebar a.current {
  color: #003b76;
  font-weight: bold;
}

#left_sidebar a:hover {
  text-decoration: underline;
}

.sidebar_links a.sub_tab {
  padding-left: 10px;
  font-size: 13px !important;
}

.sidebar_links a.sub_tab_main {
  color: #003b76 !important;
  font-weight: bold;
  padding-left: 10px;
  font-size: 13px !important;
}

.content_wrapper {
  padding: 15px 20px;
}

article h1, .legal_wrapper h1 {
  font-size: 21px;
  font-family: times, georgia, serif;
  margin-bottom: 10px;
}

article a {
  text-decoration: none;
  color: #003b76;
}

article a:hover {
  text-decoration: underline;
}

article p {
  font-size: 15px;
  font-family: times, georgia, serif;
  margin-bottom: 10px;
  color: #4d4d4d;
  text-align: justify;
}

ul.action_list {
  padding: 15px;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: helvetica neue, sans-serif;
  color: #fff;
  font-weight: 200;
}

ul.action_list li {
  padding-left: 24px;
  margin-bottom: 8px;
  background: url(../images/icon-actions.png) no-repeat;
}

ul.action_list li.email {
  background-position: 0 -31px;
}

ul.action_list li.contact {
  background-position: 0 -62px;
}

ul.action_list li a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px #000;
}

ul.action_list li a:hover {
  text-decoration: underline;
}

/* team page */

.team {
  padding-bottom: 30px;
  margin-top: -5px;
  font-size: 30px;
  font-weight: normal;
}

.individual {
  margin-bottom: 20px;
}

.individual .left_column {
  display: inline-block;
  width: 100px !important;
  vertical-align: middle;
}

.individual .right_column {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

.individual_info a {
  display: inline-block;
}

.individual_info p {
  display: inline-block;
  font-weight: bold;
}

.bio_list li {
  font-size: 15px;
  color: #4d4d4d;
  font-family: times, georgia, serif;
  margin-bottom: 10px;
  text-align: justify;
}

ul.bio_list {
  padding-left: 20px !important;
}

.left_column img {
  width: 88px;
  height: 106px;
}

ul .inner_list {
  padding-left: 25px;
}

.relative_cage {
  position: relative;
}

.team_list td.relative_cage .portfolio_thumb {
  display: none;
}

.team_list tbody tr:hover {
  background: skyblue;
}

.team_list th {
  cursor: pointer;
}

.team_list tr:hover td.relative_cage .portfolio_thumb {
  display: block;
}

.team_list td.relative_cage img {
  position: absolute;
  top: 0;
  left: -130px;
  margin-top: -55px;
  padding: 4px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 1px 1px 0 #ccc;
  -moz-box-shadow: 0 1px 1px 0 #ccc;
  box-shadow: 0 1px 1px 0 #ccc;
}

.team_list td.relative_cage .portfolio_thumb {
  width: 150px;
  height: 100px;
  left: -170px;
  margin-top: -45px;
}

/* service-providers page */

ul.services li {
  padding: 20px 0;
  text-decoration: underline;
}

ul.services a {
  color: #551A8B;
}

/* news page */
.asset_column {
  width: 350px;
  display: inline-block;
}

.asset_image {
  display: inline-block;
}

.asset_column p {
  font-size: 13px;
  background-color: #C4D7E8;
}

.acquire_info {
  margin-bottom: 0;
}

.acquire_info_left {
  padding-right: 15px;
}

.acquire_info_title {
  width: 42px;
  padding-left: 15px;
}

ul.place_definition li {
  font-size: 12px;
  padding-left: 48px;
}

.percentage_table_title {
  background-color: #4A4848;
  color: white;
  border: 2px solid white;
}

.percentage_table td {
  background-color: #DDDDDD;
  border: 2px solid white;
}

.percentage_table_result {
  text-align: center;
}

.returns_result td {
  text-align: center;
  background-color: #DDDDDD;
  border: 2px solid white;
}

.office_info td {
  background-color: #013366;
  color: white;
  border: 2px solid white;
  padding-bottom: 10px;
}

/* philantropy page */

.underline p {
  text-decoration: underline;
  font-size: 20px;
  padding-top: 40px;
  color: black;
}

ul.philantropy li {
  padding: 10px 0;
}

ul.philantropy img {
  padding: 20px 0;
}

/* contact us */

.contact_table td {
  vertical-align: top;
  padding-right: 30px;
  width: 33%;
}

.office_box h4 {
  font-size: 14px;
  font-weight: bold;
  font-family: times, times new roman,serif;
  margin-bottom: 5px;
}

.office_box p, .person_box p {
  font-size: 13px;
  margin: 0;
  text-align: left;
}

.person_box {
  margin-top: 10px;
  margin-bottom:15px;
}

.office_box { 
  margin-bottom: 25px;
}

.office_box.last {
  margin-top: 55px;
}

/* Current Portfolio Page */
.return_link {
  cursor: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 15px;
  overflow-x: visible;
  overflow-y: visible;
  position: static;
  text-align: center;
  margin-top: 30px;
}

.content_return_link {
  color: #999;
  text-decoration: none;
}

/*  Legal Page  */
.legal_wrapper {
  padding-top: 80px;
}

.legal_wrapper h2 {
  color: #565656;
  margin: 25px 0 5px;
}

.legal_wrapper p {
  line-height: 1.6em;
  margin-bottom: 10px;
}

#map_canvas {
  width: 524px;
  height: 250px;
}

.hidden {
  display: none;
}

.download_thumb {
  padding: 15px 15px 0;
}

.download_thumb img {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.summary_list li {
  font-family: times, georgia, serif !important;
}


/* Case Studies */

ul.studies_list {
  margin: 25px 0;
}

ul.studies_list li {
  display: inline-block;
  width: 240px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  vertical-align: top;
}

ul.studies_list li img {
  width: 240px;
  height: 161px;
}

ul.studies_list li .title {
  color: #2d2d2d;
  font-family: times, times new roman, serif;
  font-weight: bold;
  font-size: 15px;
}

ul.studies_list .location {
  color: #4D4D4D;
  font-size: 12px;
}

ul.studies_list li a:hover {
  text-decoration: none;
}

ul.studies_list li a:hover .learn_more {
  text-decoration: underline;
}

.case_study_banner {
  height: 340px;
  overflow: hidden;
  margin-bottom: 25px;
}

.case_study_banner img {
  width: 100%;
}

.content_wrapper h5 {
  margin-top: -5px;
  font-weight: normal;
  margin-bottom: 15px;
}

.content_wrapper h3 {
  font-size: 15px;
  margin-bottom: 8px;
  color: #333;
}

table.case_info_table {
  font-size: 15px;
  margin-bottom: 15px;
}

table.case_info_table td {
  vertical-align: top;
  padding-bottom: 10px;
}

table.case_info_table td.label_column {
  width: 130px;
  color: #565656;
}

table.asset_summary {
  font-size: 11px;
  color: #4D4D4D;
  margin-bottom: 15px;
}

table.asset_summary td {
  padding-right: 15px;
  padding-bottom: 10px;
}

ul.summary_list {
  font-size: 13px;
  color: #4d4d4d;
  margin-bottom: 25px;
  font-family: times, georgia, serif;
}

ul.summary_list li {
  margin-bottom: 8px;
  padding-left: 15px;
  position: relative;
}

ul.summary_list li:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 5px;
  left: 2px;
  border: 2px solid transparent;
  border-left: 2px solid #999;
}

/* portfolio */
.portfolio_sidebar {
  padding: 15px;
}

.portfolio_sidebar p {
  color: #fff;
  font-size: 12px;
  text-shadow: 0 -1px black;
}

.portfolio_sidebar img {
  width: 158px;
  display: block;
}

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
