ul.studies_list {
  margin: 25px 0;
}

ul.studies_list li {
  display: inline-block;
  width: 240px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  vertical-align: top;
}

ul.studies_list li img {
  width: 240px;
  height: 161px;
}

ul.studies_list li .title {
  color: #2d2d2d;
  font-family: times, times new roman, serif;
  font-weight: bold;
  font-size: 15px;
}

ul.studies_list .location {
  color: #4D4D4D;
  font-size: 12px;
}

ul.studies_list li a:hover {
  text-decoration: none;
}

ul.studies_list li a:hover .learn_more {
  text-decoration: underline;
}