#map_wrapper {
  width: 522px;
  height: 400px;
  background: url(/assets/images/us-map.png) no-repeat;
  position: relative;
}

#map_wrapper .map_anchor {
  width: 24px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  background: url(/assets/images/map-anchor.png) no-repeat;
}

#map_wrapper .map_anchor:hover {
  margin-top: 1px;
  z-index: 2;
}

.map_anchor .thumb_caption {
  width: 150px;
  height: 100px;
  background: url(/assets/images/bg-map-caption.png) no-repeat;
  position: absolute;
  left: -175px;
  top: -48px;
  padding: 9px 14px 10px 10px;
  display: none;
}

.map_anchor:hover .thumb_caption {
  display: block;
}

.thumb_caption img {
  position: relative;
  z-index: 1;
  width: 150px;
  height: 100px;
  display: block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7);
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.7);
}

.thumb_caption .caption_name {
  height: 28px;
  width: 144px;
  background: url(/assets/images/gradient-thumb-caption.png) repeat-x;
  color: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  top: 9px;
  left: 10px;
  letter-spacing: 1px;
  text-shadow: 0 1px rgba(0,0,0,0.8);
  padding-top: 2px;
  padding-left: 6px;
  line-height: 1em;
}

.thumb_caption .caption_name span {
  font-size: 10px;
  font-family: arial;
  letter-spacing: 0;
  font-weight: 100;
  text-shadow: none;
  opacity: 0.95;
}

.map_anchor.seatle {
  top: 6px;
  left: 57px;
}

.map_anchor.fresno {
  top: 148px;
  left: 50px;
}

.map_anchor.salt_lake {
  top: 108px;
  left: 115px;
}

.map_anchor.casa_grande {
  top: 200px;
  left: 106px;
}

.map_anchor.tucson {
  top: 210px;
  left: 122px;
}

.map_anchor.albuquerque {
  top: 178px;
  left: 160px;
}

.map_anchor.denver {
  top: 127px;
  left: 186px;
}

.map_anchor.dallas {
  top: 218px;
  left: 253px;
}

.map_anchor.houston {
  top: 251px;
  left: 267px;
}

.map_anchor.topeka {
  top: 138px;
  left: 260px;
}

.map_anchor.bloomington {
  top: 125px;
  left: 325px;
}

a.map_anchor {
  display: block;
}

.map_anchor.washington {
  top: 15px;
  left: 65px;
}

.map_anchor.kansas {
  top: 145px;
  left: 240px;
}

.map_anchor.california {
  top: 143px;
  left: 43px;
}

.map_anchor.texas {
  top: 236px;
  left: 230px;
}

.map_anchor.utah {
  top: 128px;
  left: 120px;
}

.map_anchor.colorado {
  top: 135px;
  left: 174px;
}

.map_anchor.new_mexico {
  top: 188px;
  left: 165px;
}

.map_anchor.arizona {
  top: 185px;
  left: 110px;
}

.map_anchor.nebraska {
  top: 102px;
  left: 225px;
}

.map_anchor.illinois {
  top: 125px;
  left: 323px;
}

.map_anchor.missouri {
  top: 144px;
  left: 293px;
}
