#map_wrapper {
  width: 522px;
  height: 400px;
  background: url(/assets/images/us-map.png) no-repeat;
  position: relative;
}

#map_wrapper .map_anchor {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  opacity: 0.2;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

#map_wrapper .map_anchor:hover {
  z-index: 2;
  opacity: 1;
}

.map_anchor .thumb_caption {
  width: 150px;
  height: 100px;
  background: url(/assets/images/bg-map-caption.png) no-repeat;
  position: absolute;
  left: -175px;
  top: -48px;
  padding: 9px 14px 10px 10px;
  display: none;
}

.map_anchor:hover .thumb_caption {
  display: block;
}

.thumb_caption img {
  position: relative;
  z-index: 1;
  width: 150px;
  height: 100px;
  display: block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7);
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.7);
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.7);
}

.thumb_caption .caption_name {
  height: 28px;
  width: 144px;
  background: url(/assets/images/gradient-thumb-caption.png) repeat-x;
  color: #fff;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  top: 9px;
  left: 10px;
  letter-spacing: 1px;
  text-shadow: 0 1px rgba(0,0,0,0.8);
  padding-top: 2px;
  padding-left: 6px;
  line-height: 1em;
}

.thumb_caption .caption_name span {
  font-size: 10px;
  font-family: arial;
  letter-spacing: 0;
  font-weight: 100;
  text-shadow: none;
  opacity: 0.95;
}

.map_anchor.seatle {
  top: 6px;
  left: 57px;
}

.map_anchor.fresno {
  top: 148px;
  left: 50px;
}

.map_anchor.salt_lake {
  top: 108px;
  left: 115px;
}

.map_anchor.casa_grande {
  top: 200px;
  left: 106px;
}

.map_anchor.tucson {
  top: 210px;
  left: 122px;
}

.map_anchor.albuquerque {
  top: 178px;
  left: 160px;
}

.map_anchor.denver {
  top: 127px;
  left: 186px;
}

.map_anchor.dallas {
  top: 218px;
  left: 253px;
}

.map_anchor.houston {
  top: 251px;
  left: 267px;
}

.map_anchor.topeka {
  top: 138px;
  left: 260px;
}

.map_anchor.bloomington {
  top: 125px;
  left: 325px;
}

a.map_anchor {
  display: block;
}

.map_anchor.washington {
  top: 15px;
  left: 65px;
}

.map_anchor.kansas {
  width: 70px;
  height: 38px;
  background: url(/assets/images/map-anchor/ks.png) no-repeat;
  top: 153px;
  left: 217px;
  z-index: 4 !important;
}

.map_anchor.california {
  width: 75px;
  height: 129px;
  background: url(/assets/images/map-anchor/ca.png) no-repeat;
  top: 96px;
  left: 24px;
}

.map_anchor.texas {
  width: 131px;
  height: 129px;
  background: url(/assets/images/map-anchor/tx.png) no-repeat;
  top: 194px;
  left: 168px;
}

.map_anchor.utah {
  width: 52px;
  height: 66px;
  background: url(/assets/images/map-anchor/ut.png) no-repeat;
  top: 118px;
  left: 106px;
}

.map_anchor.colorado {
  width: 68px;
  height: 54px;
  background: url(/assets/images/map-anchor/co.png) no-repeat;
  top: 137px;
  left: 152px;
  z-index: 3 !important;
}

.map_anchor.new_mexico {
  width: 66px;
  height: 67px;
  background: url(/assets/images/map-anchor/nm.png) no-repeat;
  top: 184px;
  left: 142px;
  z-index: 3 !important;
}

.map_anchor.arizona {
  width: 64px;
  height: 73px;
  background: url(/assets/images/map-anchor/az.png) no-repeat;
  top: 176px;
  left: 88px;
}

.map_anchor.nebraska {
  width: 77px;
  height: 41px;
  background: url(/assets/images/map-anchor/ne.png) no-repeat;
  top: 116px;
  left: 203px;
}

.map_anchor.illinois {
  width: 39px;
  height: 66px;
  background: url(/assets/images/map-anchor/il.png) no-repeat;
  top: 122px;
  left: 313px;
}

.map_anchor.missouri {
  width: 63px;
  height: 53px;
  background: url(/assets/images/map-anchor/mo.png) no-repeat;
  top: 148px;
  left: 276px;
  z-index: 3 !important;
}
